<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Army News</title>
</head>

<body>
    <div class="container">
        <div class="title">
            <hi>NEWs Trands</h1>
        </div>
        </br>
        <div class="contents">
            <input type="text">
            <input type="" button" value="Button">
        </div>
    </div>
    <div id="result"></div>
    <script>
        function run() {
            fetch('/lotto_data')
                .then(response => response.text())
                .then(text => {
                    document.getElementById('result').innerHTML = text;
                });
        }
    </script>
</body>
<html>